.avatar-button {
  border-radius: 0.5rem;
  background: none;
  color: currentColor;
  border: 1px solid rgba(100, 100, 100, 1);
  padding: 0.5px;
  height: 3rem;
  aspect-ratio: 1/1;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 250ms ease;
}

.avatar-button:active {
  transform: translateY(0.25rem);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.avatar-button:hover::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
}
